canvas {
    border: solid 1px red;
}

#canvas_container {
    position: relative;
}

.peer_cursor {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: blue;
    position: absolute;
}

body {
    background-color: black;
}
